<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create university</title>
</head>
<body>
    <h1>Create university</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <table>
            <legend>Создайте университет</legend>
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>{{ form.shortname.label }}</td>
                <td>{{ form.shortname }}</td>
            </tr>
            <tr>
                <td>{{ form.create_date.label }}</td>
                <td>{{ form.create_date }}</td>
            </tr>
        </table>
        {{ form.submit }}
    </form>
</body>
</html>