<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
</head>
<body>
    <a href="/auth">Авторизация</a>
    <form method="POST" action="registration">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Зарегистрируйтесь</legend>
            {{ form.name.label }}
            {{ form.name }}
            {{ form.email.label }}
            {{ form.email }}
            {{ form.password.label }}
            {{ form.password }}
        </fieldset>
        {{ form.submit }}
    </form>
</body>
</html>